@charset "UTF-8";
:root{
    --curso: #233eff;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
}
html, body{
    width: 100vw;
    height: 100vw;
    background-color: var(--curso);
}
h1{
    color: #fff;
    text-shadow: 3px 3px 0px #0d1764;
    padding: 10px;
}