@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    margin: 0px;
}
nav{
    background-color: #4d4c4c;
    box-shadow: 1px 2px 4px #00000070;
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 20px;
}
header > h1{
    padding: 1px 0px;
    background-color: #9c9c9c1a;
}
nav > a:hover{
    text-decoration: underline;
}
header{
    background-color: white;
    padding: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
}
main{
    background-color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 20px;
}
article{
    background-color: lightgray;
}
article > aside{
    background-color: #9c9c9c;
}
footer{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 4px;
    text-align: center;
}
footer > p{
    margin: 0px;
}